.card-wrapper {
  width: 50%;
  background-color: white;
}

.table {
  width: 100%;
  table-layout: fixed; /* This ensures that the table cells have equal width */
}

@media (min-width: 851px) {
    .responsive-card {
      width: 100%;
    }
  }
  
  @media (max-width: 850px) {
    .card-wrapper {
      width: 100%; /* Adjust the width as needed */
    }
    .responsive-card {
      width: 100%;
    }
  }


  